td {
	padding-left: 5px;
}
.subtitle {
	background-color: #834F4F;
	color: #BFBFBF;
	font-size: 1.2em;
	text-align: right;
	margin: 2px;
	padding-right: 2em;
	padding-top: 0.3em;
	padding-bottom: 0.25em;
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
}

.display-3 {
	font-size: 1.25em
	border-left-color: #862626;
	border-left-style: solid;
	border-left-width: 1.2em;
	padding-left: 1.5em;
	color: #531E1E;
	margin-top: 0.4em;
	margin-bottom: 0.8em;
}

