{% extends "layout.html" %}
{% set active_page = "/" %}

{% block content %}
{{super()}}
<div class="m-2 row" >
<!--
<h1 class="p-2 display-3 text-primary w-120 text-center">{{title|upper}}</h1>
<h2 class="p-1 m-1 text-secondary display-6">{{msg}}</h2>
-->
<p>{{msg}}</p>
{% for item in data %}
<ul>
	<li class="text-info"><a href="/{{item[1]}}"> {{item[0]}} </a> </li>
</ul>
{% endfor %}
<form action="/" method="post" enctype="text/plain">
<input type="submit">
</form>
</div>
</div>

{% endblock %}

