{% extends "layout.html" %}

{% set active_page = "/se" %}

{% block content %}
 {{ super() }}

<div class="col-md-10 content-area">


<div class="display-3 text-black-50 bg-secondary pl-3">{{msg}}</div>

<!-- <a href="/"> メニューへ戻る </a> -->
<div>
	<form method="post" action="/insertSe/{{next_id}}">
		<p>フクラコード:<input type="text" name="hcode" value="{{data.hcode}}" >
		<p class="display-1">[次の背番号]:<input type="text" name="se" value="{{se_next}}" >
		<p>仕入先コード:<input type="text" name="scode" value="{{data.scode}}" >
		<p>仕入先名:<input type="text" name="sname" value="{{data.sname}}" >
		<input type="submit" value="データ追加登録">
	</form>
</div>


{% endblock %}


