{% extends "layout.html" %}

{% set active_page = "/se" %}

{% block content %}
 {{ super() }}

<div class="col-md-10 content-area">


<div class="display-3 text-black-50 bg-secondary pl-3">{{msg}}</div>

<!-- <a href="/"> メニューへ戻る </a> -->
<div>
	<form method="post" action="/se">
		品番:<input type="text" name="hcode" size="20" >
		背番号:<input type="text" name="se" size="10" >
		仕入先コード:<input type="text" name="scode" size="10" >
		仕入先名:<input type="text" name="sname" size="15">
		<input type="submit" value="検索">
	</form>
</div>

<table class="table-light table-striped">
	<thead>
		<tr>
			<td >id</td>
			<td >フクラコード</td>
			<td >背番号</td>
			<td >仕入先コード</td>
			<td >仕入作名</td>
		</tr>
	</thead>
	<tbody>
	{% for item in data %}
		<tr>
			<th><a href="/sedit/{{item.id}}">
						{{item.id}}</a></th>
			<td>{{item.hcode}}</td>
			<td>{{item.se}}</td>
			<td>{{item.scode}}</td>
			<td>{{item.sname}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>	
</div>

{% endblock %}


