{% extends "layout.html" %}
{% set active_page = "/ure" %}

{% block content %}
{{super()}}

<div class="row">

<div class="display-3">
ウレタン注文ファイル
</div>
<div class="display-4">
ウレタン注文用ファイルができました。
</div>
<li>
ファイルをダウンロードしてください。
</li>
<p>
<a href='/UP/data/{{keiname_1}}' download='{{keiname_1}}'>計画1ダウンロード</a>
</p>
<p>
<a href='/UP/data/{{keiname_2}}' download='{{keiname_2}}'>計画2ダウンロード</a>
</p>
<p>
<a href='/UP/data/{{by_name}}' download='{{by_name}}'>コード集計ダウンロード</a>
</p>
<p>
<a href='/UP/data/{{jucname}}' download='{{jucname}}'>受注データダウンロード</a>
</p>
</div>
</div>

{% endblock %}

